<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            //get_list()
        })

        function get_list() {
            $.ajax({
                type: "GET",
                url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
                data: {},
                success: function (response) {
                    let rows = response["RealtimeCityAir"]["row"];
                    console.log(rows)
                }
            })
        }
    </script>
</head>
<body>
    <h1>상세 페이지</h1>
    <button onclick="window.location.href='/'">메인으로</button>
    쿼리 스트링 요청 : {{ req_word }}<br/>
    path variable : {{ path_word }}
    <ul id="gu-list">
        {% for row in rows %}
        {% set gu_name = row["MSRSTE_NM"]%}
        {% set gu_mise = row["IDEX_MVL"]|int%}
        {% if gu_mise >= 60 %}
            <li>{{ gu_name }} : {{ gu_mise }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>